*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e3a3d;
    color: #fff;
    padding: 20px;
}

.container{
    width: 600px;
    background-color: #176d40;
    padding: 15px 40px;
    border-radius: 20px;
}


.faq-question{
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-answer{
    display: none;
}