*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.h2{
    font-size: 16px;
    margin-bottom: 15px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #151b29;
    color: #fff;
}

.container{
    width: 500px;
    height: auto;
    background: #21313e;
    box-shadow: 1px 4px 10px  #91a2c4;
    border-radius: 8px;
    padding: 20px;
}
h1{
    font-size: 18px;
}
p{
    font-size: 12px;
    margin-top: 5px;
    color: #91a2c4;
}

.sub-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}
.numbers{
   width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(21, 39, 67);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}