*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.h2{
    font-size: 16px;
    margin-bottom: 15px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #151b29;
    color: #fff;
}

.container{
    background: #21313e;
    box-shadow: 1px 4px 10px  #91a2c4;
    border-radius: 8px;
    padding: 10px 15px;
}

.sub-container{
    border: 2px solid #91a2c4;
    border-radius: 8px;
    padding: 20px;
}

h1{
    font-size: 18px;
}
p{
    font-size: 12px;
    margin-top: 5px;
    color: #91a2c4;
}

ul{
       list-style: none;
}

.sub-container{
     width: 450px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}
.numbers{
   width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(21, 39, 67);
    display: flex;
    justify-content: center;
    align-items: center;

}

#progress-Bar{
    width: 250px;
    height: 7px;
    margin-top: 5px;
    background-color: #265f6b;
    border-radius: 8px;
}

#progress{
    width: 50%;
    height: 7px;
    margin-top: 5px;
    background-color:rgb(43, 164, 164);
    border-radius: 8px;
}

#num{
        color: white;
        font-size: 16px;
        font-weight: 500;
}


.form{
    margin-top: 30px;
    display: flex;
    width: 100%;
    gap: 10px;
}

#input{
    flex: 1;
    padding: 7px 0px 7px 10px;
    font-weight: 500;
    font-size:14px;
    background: transparent;
    outline: none;
    color: #e6e1e1;
    border: 2px solid #3898ac;
    border-radius: 8px;
}

.btn{
    width: 40px;
    height: 40px;
    background-color: #265f6b;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-size: 16px;

}
#input::placeholder{
    color: #91a2c4;
    font-weight: 500;
    font-size: 14px;
    opacity: 0.7;
}
.taskItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 5px 0px;
    padding: 7px 0px;
}
.pp{
    margin-left: 8px;
}
